<div class="centered animated fadeIn">
    <div class="box">
        <div class="input-container">
            <input type="search" id="search" placeholder="Dice expression... (ex: 2d20 + 6)" />
            <button id="roll" class="icon"><i class="fa fa-cube"></i></button>
        </div>
    </div>

    <div id="result">Let's roll</div>
</div>
